<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% block head_css %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/1.1.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% endblock %}
</head>
<body>
{% form_theme form 'bootstrap_4_layout.html.twig' %}
<div style="width:50%;margin-left:10px;margin-top:10px">
    {{ form_start(form) }}
    {{ form_row(form.login) }}
    {{ form_row(form.age) }}
    {{ form_row(form.isActive) }}

    {% if form.followers is defined %}
        <h3>Followers</h3>
        <ul class="followers">
            {% for follower in form.followers %}
                <li>{{ form_row(follower.login) }}</li>
                <li>{{ form_row(follower.age) }}</li>
                <li>{{ form_row(follower.isActive) }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if form.password is defined %}
        {{ form_row(form.password) }}
    {% endif %}
    {{ form_row(form.submit) }}
    {{ form_end(form, {'render_rest': false}) }}
</div>
{% block head_js %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}
</body>
</html>